extends ../base

block variables
  -var title = __('Confirm your email')

block content

  h1 #{title}

  div
    p #{__('Please enter you email address.')}
  
  form.cra-form(method='post')
    +textInput('Email', null, 'For Example: name@example.com')(class='w-3-4', id='email' name='email', autofocus, value=data.email)

    input#redirect(name='redirect', type='hidden', value='/review')

    +formButtons()
