extends ../base
include ../_includes/banner

block variables
  -var title = __('Okay')

block content

  h1 #{title}

  .offramp
    p #{__('Without your consent with will not send you a notification')}