extends ../base
include ../_includes/banner

block variables
  -var title = __('Passport renewal notifications were cancelled')

block content

  h1 #{title}

  .offramp
    p #{__('You won’t receive any emails from this service about your passport expiring.')}
    p #{__('You can go back and set up notifications at any time.')}

    

