extends ../base
include ../_includes/banner

block variables
  -var title = __('Your taxes can’t be completed using this service')

block content

  h1 #{title}

  +banner('blue')
    p #{__('Your tax return is too complex to be filed using this service. Nothing about your taxes is incorrect — see below for further instructions on how to complete your tax return.')}

  div
    p #{__('To finish filing your taxes for 2018, you will need to do one of the following:')}
