extends /base
include ./emailSMSRadios

block variables
  -var title = __('email_sms.title')
  -var question = __('notify.type')

block content

  h1 #{title}

  div
    p #{__('email_sms.intro')}
  form.cra-form(method='post') 
    +emailSmsRadios('notify_type', null, question, null)
    input(name='name', type='hidden', value=name)
    +formButtons()